<html><head>
  <title>わかめ</title>
</head>
<body><iframe src="https://appetize.io/embed/xc1w6f1krd589zhp22a0mgftyw?autoplay=false&amp;debug=true&amp;device=pixel4&amp;embed=true&amp;launchUrl=exp%3A%2F%2Fexp.host%2F%40snack%2Fsdk.46.0.0-ghV0%21Qgb8N&amp;scale=65&amp;screenOnly=false&amp;xDocMsg=true&amp;xdocMsg=true&amp;params=%7B&amp;osVersion=11.0&amp;deviceColor=black" style="border: none; margin: 0; height: 100vh; width: 100%;"></iframe></body></html>